h1{
  font-weight: 600;
  font-size: 40px;
  margin:10px;
  margin-bottom:20px;
}

input{
  width:100%;
}

.item-container{
  text-align:left;
}

.kg-row{
  margin: 10px 5px;

}

.kg-button{
  width:80%;
}