h1{
  font-weight: 600;
  font-size: 40px;
  margin:10px;
  margin-bottom:20px;
}

input{
  width:100%;
}

.item-container{
  text-align:left;
}

.kg-row{
  margin: 10px 5px;
  align-items: center;
}

.kg-button{
  width: 100%;
  white-space: nowrap;
}